:root {
    --primary-color: #000;
    --secondary-color: #1D1D1D;

    --brown-color: #BEA69E;
    --white-color: #fff;
    --gradient-top-color: #060707;
    --gradient-color: linear-gradient(to down, var(--gradient-top-color), var(--secondary-color));
    /* --button-bg-color: var(--primary-color); */
    --button-bg-color:  var(--white-color);
    --button-hover-color: var(--secondary-color);
    --button-text-color: #212121;
    --text-color: var(--white-color);
    --text-hover-color: var(--brown-color);
}

/* Example usage */
button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
}

button:hover {
    background-color: var(--button-hover-color);
    color: var(--brown-color);
}
.menubar {
    background-color: var(--gradient-color);
}
.menubar a {
    color: var(--text-color);
}
.menubar a:hover, .menubar a:focus{
    color: var(--text-hover-color);
}